.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-image: linear-gradient(red, yellow)
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: goldenrod;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

#jeopardy-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    min-width: 0;
    min-height: 0;
    position: relative;
    border: solid black 2px;
    justify-content: space-evenly;
    margin: 10%;
} 

#jeopardy-grid div{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    /* background-color: burlywood; */
   
}

.content {
    text-align: center;
    font-size: 25px;
    margin: auto;
    
}

.content:hover{
    background-color: mediumturquoise;
    cursor: pointer;
}

.question-display{
  text-align: center;
  margin: 10%;
}

.input-box{
    top: 100px;
    left: 300px;
    width: 300px;
    height: 300px;
}

#user-answer , #submit-button{
    position: relative;
    display:block;
    margin: 0 auto;
    left: 300px;
    
}
    

@media (min-width: 400px) {
    .jeopardy-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}